# macOS
**/.DS_Store

# Python
__pycache__/
*.py[cod]
*$py.class

# IDEs and Editors
.vscode/
.idea/
*.swp

# Home Assistant testing
.storage/
home-assistant_v2.db
home-assistant.log

# Local Home Assistant dev environments
dev_env/ha_testing_*