# macOS
**/.DS_Store

# Python
__pycache__/
*.py[cod]
*$py.class

# IDEs and Editors
# Ignore VSCode personal settings, but keep the tasks
.vscode/*
!.vscode/tasks.json
.idea/
*.swp
.ruff_cache/

# Home Assistant testing
.storage/
home-assistant_v2.db
home-assistant.log

# Local Home Assistant dev environments
dev_env/ha_testing_*

#Mock data
mock_data.json
mock_data_example.json