name: Lint

on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - '**.md'
      - '**.jpg'
      - '**.png'
      - 'docs/**'
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install Ruff
        run: pip install ruff
      - name: Run Ruff
        run: |
          ruff check .
          ruff format --check .
