name: Release Drafter

on:
  push:
    # This triggers the drafter to update the draft whenever something hits main
    branches:
      - main
  # This allows the drafter to run when PRs are labeled, so it can sort them
  pull_request:
    types: [opened, reopened, synchronize, labeled]

jobs:
  update_release_draft:
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: release-drafter/release-drafter@v5.25.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}